[submodule "components/clm/src/external_models/fates"]
	path = components/clm/src/external_models/fates
	url = git@github.com:NGEET/fates-release.git
[submodule "alm-mpp"]
	path = components/clm/src/external_models/mpp
	url = git@github.com:MPP-LSM/MPP.git
	branch = alm/develop
[submodule "components/mpas-source"]
	path = components/mpas-source
	url = git@github.com:MPAS-Dev/MPAS-Model.git
[submodule "components/clm/src/external_models/sbetr"]
	path = components/clm/src/external_models/sbetr
	url = git@github.com:rabramoff/sbetr
